[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "fast_api_assignment"

[packages]
fastapi = "*"
black = "*"
uvicorn = "*"
python-dotenv = "*"
sqlalchemy = "==1.4.48"
alembic = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
